@model IEnumerable<ApplicationTEST.Models.Experience_prof>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.poste_occupe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lieu_Exp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_debut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.poste_occupe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lieu_Exp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_debut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_ex">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_ex">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_ex">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
