@model ApplicationTEST.Models.Generer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Generer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.poste_domande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.poste_domande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.domaine_activite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.domaine_activite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.photo_profil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.photo_profil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salaire_min)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salaire_min)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_generer">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
