@model IEnumerable<ApplicationTEST.Models.Responsable_RH>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.e_mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mdp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.e_mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mdp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_resp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_resp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_resp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
